aside{
    position: absolute;
    width: 175px;
    height: calc(100vh - 77px);
    box-shadow: 5px 3px 6px 1px rgba(0,0,0,0.1);
    }

.clicked_cat {
    cursor: pointer;
    }
@media(min-width: 992px){
    .card-columns {column-count: 3}
    .card-columns .card-body {display: inline-flex;width: 100%;}
    .card-columns .card-body .list-group{width: 100%}
    .mobile{display: none;}
    }
@media(min-width: 576.1px) and (max-width: 991.9px){
    .card-columns {column-count: 2}
    .card-columns .card-body {display: inline-flex;width: 100%;}
    .card-columns .card-body .list-group{width: 100%}
    .mobile{display: none;}
    }
@media (max-width: 576px) {
    /*.desktop{display: none;}*/
    .btn.catsy.collapsed::after {
        content: '+';
        color: var(--cblu);
        }
    .btn.catsy.not-collapsed::after {
        content: '-';
        color: var(--cblu);
        }
    }

.base#\31 {border: 1px solid var(--bs-primary);background-color: var(--bs-primary);}
.base#\32 {border: 1px solid var(--bs-secondary);background-color: var(--bs-secondary);}
.base#\33 {border: 1px solid var(--bs-warning);background-color: var(--bs-warning);}
.base#\34{border: 1px solid var(--bs-success);background-color: var(--bs-success);}
.base#\35 {border: 1px solid var(--bs-info);background-color: var(--bs-info);}
.base#\36 {border: 1px solid var(--bs-danger);background-color: var(--bs-danger);}
.base#\37 {border: 1px solid var(--bs-dark);background-color: var(--bs-dark);}
.base#\38 {border: 1px solid var(--bs-warning);background-color: var(--bs-warning);}
.base#\31 .mtitle {background-color: var(--bs-primary);}
.base#\32 .mtitle {background-color: var(--bs-secondary);}
.base#\33 .mtitle {background-color: var(--bs-warning);}
.base#\34 .mtitle {background-color: var(--bs-success);}
.base#\35 .mtitle {background-color: var(--bs-info);}
.base#\36 .mtitle {background-color: var(--bs-danger);}
.base#\37 .mtitle {background-color: var(--bs-dark);}
.base#\38 .mtitle {background-color: var(--bs-warning);}
/*.mtitle {*/
/*    position: relative;*/
/*    width: calc(100% + 16px);*/
/*    padding: 10px;*/
/*    left: -8px;*/
/*    font-weight: 700;*/
/*    color: #fff;*/
/*    border-radius: 8px 8px 0 0;*/
/*    font-size: 1.5rem;*/
/*    }*/
